/* 
Generic Styling, for Desktops/Laptops  011627-071c2d-172938-2db7c4-e71d36
*/


@import url(https://fonts.googleapis.com/css2?family=Teko:wght@300;500;700);

table {
  font-size: 1.0em;
  width: 100%; 
  border-collapse: collapse;
  margin: 0px;
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #011627;
}
tr {
  background: #071c2d;
}
th { 
  background: #001020; 
  color: #AA2A38; 
  font-weight: bold;
  width:120px;
}
td, th { 
  padding: 6px; 
  border-bottom: 1px solid #172938;
  text-align: right;
}

/* Page styling
================================== */

html { 
  height: 100%;
  background-color: #111; 
}
body {
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
  padding: 2em;
  max-width: 900px;
  font-family: 'Teko', sans-serif;
  font-size: 1.4em;
  color:#A7A1AE;
  background-color:#111;
  border: solid #1F2739;
  border-top: none; border-bottom: none;
}
h1 {
  margin: 0;
}
