<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='rtable.css') }}">
    <titel><h1>WARZONE STATS</h1></titel>
  </head>
  <body>
    <h2>LIFE TIME STATS</h1>
    <table>
      <tbody>
      {% for player in stats %}

      <tr>
        {% for stat in player %}
        <td data-title="{{ stat }}">{{ stat }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
      </tbody>
    </table>
    <h2>WEEKLY TRIO STATS</h1>
    <table>
      <tbody>
      {% for player in wk_trio_stats %}

      <tr>
        {% for stat in player %}
        <td data-title="{{ stat }}">{{ stat }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
      </tbody>
    </table>
    <h2>WEEKLY QUAD STATS</h1>
    <table>
      <tbody>
      {% for player in wk_quad_stats %}

      <tr>
        {% for stat in player %}
        <td data-title="{{ stat }}">{{ stat }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
      </tbody>
    </table>
    <h2>WEEKLY SOLO STATS</h1>
    <table>
      <tbody>
      {% for player in wk_solo_stats %}

      <tr>
        {% for stat in player %}
        <td data-title="{{ stat }}">{{ stat }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </body>
</html>

