<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='rtable.css') }}">
    <titel>Warzone Stats</titel>
      
  </head>
  <body>
    <table>
      <thead>
      <tr>
        {% for key, value in stats[0].items() %}
        <th>{{ key }}</th>
        {% endfor %}
      </tr>
      </thead>
      </tbody>
      {% for player in stats %}

      <tr>
        {% for key, value in player.items() %}
        <td data-title="{{ key }}">{{ value }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
      </tbody>
    </table>
    <table>
      <thead>
      <tr>
        {% for key, value in weekly_stats[0].items() %}
        <th>{{ key }}</th>
        {% endfor %}
      </tr>
      </thead>
      </tbody>
      {% for player in weekly_stats %}

      <tr>
        {% for key, value in player.items() %}
        <td data-title="{{ key }}">{{ value }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </body>

</html>
