<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" >
    <link rel="stylesheet" href="{{ url_for('static', filename='tail.css') }}">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v1.9.4/dist/alpine.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body class="flex items-center justify-center antialiased text-gray-800 bg-gray-200 max-w-screen-md">
    <div class="">
      <nav class="flex items-center justify-between bg-teal-600 border-b-2 border-teal-700">
        <a href="{{ url_for('index') }}">
          <button class="p-2 focus:outline-none">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-8 h-8 text-gray-100 hover:text-gray-300"><path d="M10 19l-7-7m0 0l7-7m-7 7h18"></path></svg>
          </button>
        </a>
        <div><p class="pr-5 text-2xl font-extrabold text-gray-100 uppercase">{{ matches[0].playername }}</p></div>
      </nav>
      <div class="flex flex-wrap items-baseline justify-center">
        {% for match in matches %}
        <div x-data="{ open_match: false }"  class="flex-1 min-w-full overflow-hidden border-b-2 border-teal-800" >
          <div @click="open_match = !open_match" class="flex items-center justify-between bg-gray-300 cursor-pointer hover:bg-teal-700 hover:text-gray-100" data-match_id={{ match.matchID }} onclick="load_match_data(this);">
            <div class="w-32 p-2 bg-teal-700">
              <p class="w-12 text-xs font-bold">{{ match.gameMode }}</p>
              <div class="flex items-baseline justify-end -mt-3 -mb-2 text-gray-100">
                <p class="px-1 italic font-black">#<span class="ml-1 text-3xl not-italic font-black">{{ match.teamPlacement}}</span></p>
              </div>
            </div>
            <div class="self-stretch w-2 {% if match.squad_match %} bg-green-400 {% else %} bg-transparent {% endif %}">&nbsp;</div>
            <div class="w-full px-2 py-1">
              <div class="flex justify-between">
                <div class="flex justify-start px-2 text-center">
                  <div class="w-16">
                    <p class="-mt-2 text-2xl font-black tracking-tight">{{ match.kdRatio }}</p>
                    <p class="-mt-2 text-xs font-bold text-gray-600">K/D</p>
                  </div>
                  <div class="w-16">
                    <p class="-mt-2 text-2xl font-black tracking-tight">{{ match.kills }}</p>
                    <p class="-mt-2 text-xs font-bold text-gray-600">Kills</p>
                  </div>
                </div>
                <div class="text-xs text-teal-900">
                  <div class="text-right">
                    <p class="">{{ match.matchDate }}</p>
                    <p class="-mt-1">{{ match.matchStart }} - {{ match.matchEnd }}</p>
                  </div>
                </div>
              </div>
              <div class="flex items-center justify-between -mt-2 -mb-2">
                <div>
                  <p class="inline-block pr-2 text-xs font-bold text-gray-700">P:<span class="ml-1">{{ match.playerCount }}</span></p>
                  <p class="inline-block text-xs font-bold text-gray-700">T:<span class="ml-1">{{ match.teamCount }}</span></p>
                </div>
                <p class="ml-2 text-sm font-black text-right text-teal-900 ">{{ match.timePlayed }}</p>
              </div>
            </div>
          </div>
          <div x-show="open_match" class="px-4 match_content">
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <script type="text/javascript">
      function load_match_data(identifier) {
      var match_id = $(identifier).data('match_id')
      var match_content_div = $(identifier).parent().find("div.match_content")
      match_content_div.load("/match_data/" + match_id);
      }

    </script>
  </body>
</html>
